<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <!-- Liste over projektdata fra databasen -->
    <ul>
        {{#each projektInfomation}}
        <li>
            <h2>{{projektname}}</h2>
            <p><strong>Subdomain:</strong> {{subdomain}}</p>
            <p><strong>Mail:</strong> {{mail}}</p>
            <p><strong>Template type:</strong> {{template_type}}</p>
            <p><strong>Created date:</strong> {{created_date}}</p>
            <p><strong>Status:</strong> {{status}}</p>
        </li>
        {{/each}}
    </ul>

<ul>
       <h1>Liste over arrangementer</h1>
      <ul id="data-list">

    </ul>

</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");
    const body = document.body;

    const savedTheme = localStorage.getItem("theme");
    if (savedTheme) {
        body.classList.add(savedTheme);
        themeToggle.querySelector(".icon-darklightmode").textContent = savedTheme === "dark-mode" ? "☀️" : "🌙";
    }

    themeToggle.addEventListener("click", () => {
        const isDarkMode = body.classList.toggle("dark-mode");
        themeToggle.querySelector(".icon-darklightmode").textContent = isDarkMode ? "☀️" : "🌙";

        localStorage.setItem("theme", isDarkMode ? "dark-mode" : "light-mode");
    });
});
</script>
